<!DOCTYPE html>
<html>
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Etudiant - Accueil | ED+</title>

    <link rel="stylesheet" href="   {{ asset('Back_assets/assets/vendors/mdi/css/materialdesignicons.min.css') }}">
    <link rel="stylesheet" href="{{ asset('Back_assets/assets/vendors/css/vendor.bundle.base.css') }}">
    <!-- endinject -->
    <!-- Plugin css for this page -->
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <!-- endinject -->
    <!-- Layout styles -->
    <link rel="stylesheet" href="{{ asset('Back_assets/assets/css/style.css') }}">
    <!-- End layout styles -->
    <link rel="shortcut icon" href="{{ asset('Back_assets/assets/images/favicon.png') }}" />
    
    
</head>
<body>

<div class="container-scroller">

    <nav class="navbar default-layout-navbar col-lg-12 col-12 p-0 fixed-top d-flex flex-row">
        <div class="text-center navbar-brand-wrapper d-flex align-items-center justify-content-center">
            <a class= "navbar-brand brand-logo" href="#" > <img src="{{ asset('Back_assets/assets/images/logo.svg')}}" alt="logo')}}"></a>
            <a class="navbar-brand brand-logo-mini" href="#"> <img src="{{ asset('Back_assets/assets/images/logo-mini.svg')}}" alt="logo"></a>
        </div>
        <div class="navbar-menu-wrapper d-flex align-items-stretch">
            <button class="navbar-toggler navbar-toggler align-self-center" type="button" data-toggle="minimize">
                <span class="mdi mdi-menu"></span>
            </button>

            <ul class="navbar-nav navbar-nav-right">
                <li class="nav-item d-none d-lg-block full-screen-link">
                    <a class="nav-link">
                        <i class="mdi mdi-fullscreen" id="fullscreen-button"></i>
                    </a>
                </li>
                <li class="nav-item nav-profile dropdown">
                    <a class="nav-link dropdown-toggle" id="profileDropdown" href="#" data-toggle="dropdown" aria-expanded="false">
                        <div class="nav-profile-img">
                            <img src="{{ asset('Back_assets/assets/images/faces/face1.jpg')}}" alt="image">
                            <span class="availability-status online"></span>
                        </div>
                        <div class="nav-profile-text">
                           {% block upperUserName %} <p class="mb-1 text-black"></p>{% endblock %}
                        </div>
                    </a>
                    <div class="dropdown-menu navbar-dropdown" aria-labelledby="profileDropdown">
                        <a class="dropdown-item" href="#">
                            <i class="mdi mdi-cached mr-2 text-success"></i> Activity Log </a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">
                            <i class="mdi mdi-logout mr-2 text-primary"></i> Signout </a>
                    </div>
                </li>

            </ul>
            <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button" data-toggle="offcanvas">
                <span class="mdi mdi-menu"></span>
            </button>
        </div>
    </nav>
    <!-- partial -->
    <div class="container-fluid page-body-wrapper">
        <!-- partial:partials/_sidebar.html -->
        <nav class="sidebar sidebar-offcanvas" id="sidebar">
            <ul class="nav">
                <li class="nav-item nav-profile">
                    <a href="#" class="nav-link">
                        <div class="nav-profile-image">
                            <img src="{{ asset('Back_assets/assets/images/faces/face1.jpg')}}" alt="profile">
                            <span class="login-status online"></span>
                            <!--change to offline or busy as needed-->
                        </div>
                        <div class="nav-profile-text d-flex flex-column">
                            {% block leftUserName %}<span class="font-weight-bold mb-2"> </span>{% endblock %}
                            <span class="text-secondary text-small"></span>
                        </div>
                        <i class="mdi mdi-bookmark-check text-success nav-profile-badge"></i>
                    </a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="">
                        <span class="menu-title">Acceuil</span>
                        <i class="mdi mdi-home menu-icon"></i>
                    </a>
                </li>


                <li class="nav-item">
                    <a class="nav-link" data-toggle="collapse" href="#ui-prof" aria-expanded="false" aria-controls="ui-basic">
                        <span class="menu-title">Professeurs</span>
                        <i class="menu-arrow"></i>
                        <i class="mdi mdi-account-outline menu-icon"></i>
                    </a>
                    <div class="collapse" id="ui-prof">
                        <ul class="nav flex-column sub-menu">
                            <li class="nav-item"> <a class="nav-link" href="#">Consulter</a></li>
                            <li class="nav-item"> <a class="nav-link" href="#">Ajouter</a></li>
                        </ul>
                    </div>
                </li>

                <li class="nav-item">
                    <a class="nav-link" data-toggle="collapse" href="#ui-etu" aria-expanded="false" aria-controls="ui-basic">
                        <span class="menu-title">Etudiants</span>
                        <i class="menu-arrow"></i>
                        <i class="mdi mdi-account menu-icon"></i>
                    </a>
                    <div class="collapse" id="ui-etu">
                        <ul class="nav flex-column sub-menu">
                            <li class="nav-item"> <a class="nav-link" href="#">Consulter</a></li>
                            <li class="nav-item"> <a class="nav-link" href="#">Ajouter</a></li>
                        </ul>
                    </div>
                </li>

                <li class="nav-item">
                    <a class="nav-link" data-toggle="collapse" href="#ui-niv" aria-expanded="false" aria-controls="ui-basic">
                        <span class="menu-title">Niveaux</span>
                        <i class="menu-arrow"></i>
                        <i class="mdi mdi-poll-box menu-icon"></i>
                    </a>
                    <div class="collapse" id="ui-niv">
                        <ul class="nav flex-column sub-menu">
                           {% block niv %} <li class="nav-item"> <a class="nav-link" href="#">Consulter</a></li>{% endblock %}
                            <li class="nav-item"> <a class="nav-link" href="#">Ajouter</a></li>
                        </ul>
                    </div>
                </li>

                <li class="nav-item">
                    <a class="nav-link" data-toggle="collapse" href="#ui-ex" aria-expanded="false" aria-controls="ui-basic">
                        <span class="menu-title">Examens</span>
                        <i class="menu-arrow"></i>
                        <i class="mdi mdi-note menu-icon"></i>
                    </a>
                    <div class="collapse" id="ui-ex">
                        <ul class="nav flex-column sub-menu">
                            <li class="nav-item"> <a class="nav-link" href="#">Consulter</a></li>
                            <li class="nav-item"> <a class="nav-link" href="#">Ajouter</a></li>
                        </ul>
                    </div>
                </li>

                <li class="nav-item">
                    <a class="nav-link" data-toggle="collapse" href="#ui-bloc" aria-expanded="false" aria-controls="ui-basic">
                        <span class="menu-title">Blocs</span>
                        <i class="menu-arrow"></i>
                        <i class="mdi mdi-home-modern menu-icon"></i>
                    </a>
                    <div class="collapse" id="ui-bloc">
                        <ul class="nav flex-column sub-menu">
                            <li class="nav-item"> <a class="nav-link" href="#">Consulter</a></li>
                            <li class="nav-item"> <a class="nav-link" href="#">Ajouter</a></li>
                        </ul>
                    </div>
                </li>

                <li class="nav-item">
                    <a class="nav-link" data-toggle="collapse" href="#ui-club" aria-expanded="false" aria-controls="ui-basic">
                        <span class="menu-title">Clubs</span>
                        <i class="menu-arrow"></i>
                        <i class="mdi mdi-gamepad-variant menu-icon"></i>
                    </a>
                    <div class="collapse" id="ui-club">
                        <ul class="nav flex-column sub-menu">
                            <li class="nav-item"> <a class="nav-link" href="#">Consulter</a></li>
                            <li class="nav-item"> <a class="nav-link" href="#">Ajouter</a></li>
                        </ul>
                    </div>
                </li>






                <!-- partial -->
            </ul>
        </nav>
        <div class="main-panel">
            <div class="content-wrapper">
                {% block content %}

                    <div class="page-header">
                        <h3 class="page-title">
                <span class="page-title-icon bg-gradient-primary text-white mr-2">
                  <i class="mdi mdi-home"></i>
                </span> Dashboard </h3>
                        <nav aria-label="breadcrumb">
                            <ul class="breadcrumb">
                                <li class="breadcrumb-item active" aria-current="page">
                                    <span></span>Overview <i class="mdi mdi-alert-circle-outline icon-sm text-primary align-middle"></i>
                                </li>
                            </ul>
                        </nav>
                    </div>
                {% endblock %}
            </div>
            <!-- content-wrapper ends -->
            <!-- partial:partials/_footer.html -->
            <footer class="footer">
                <div class="d-sm-flex justify-content-center justify-content-sm-between">
                    <span class="text-muted text-center text-sm-left d-block d-sm-inline-block">Copyright © 2017 <a href="https://www.bootstrapdash.com/" target="_blank">BootstrapDash</a>. All rights reserved.</span>
                    <span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center">Hand-crafted &amp; made with <i class="mdi mdi-heart text-danger"></i></span>
                </div>
            </footer>
            <!-- partial -->
        </div>

    <!-- main-panel ends -->
</div>


<!-- page-body-wrapper ends -->

<!-- container-scroller -->
<!-- plugins:js -->
<script src="{{ asset('Back_assets/assets/vendors/js/vendor.bundle.base.js') }}"></script>
<!-- endinject -->
<!-- Plugin js for this page -->
<script src="{{ asset('Back_assets/assets/vendors/chart.js/Chart.min.js') }}"></script>
<!-- End plugin js for this page -->
<!-- inject:js -->
<script src="{{ asset('Back_assets/assets/js/off-canvas.js') }}"></script>
<script src="{{ asset('Back_assets/assets/js/hoverable-collapse.js') }}"></script>
<script src="{{ asset('Back_assets/assets/js/misc.js') }}"></script>
<!-- endinject -->
<!-- Custom js for this page -->
<script src="{{ asset('Back_assets/assets/js/dashboard.js') }}"></script>
<script src=" {{ asset('Back_assets/assets/js/todolist.js') }} " ></script>
</div>
</body>
</html>